@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "/styles/colors.module.scss";

.main {
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        margin-top: 26px;
        margin-left: 65px;
    }
}

.col1 {

    display: flex;
    flex-direction: column;
    gap: 64px;

    .one {
        ::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        input {
            padding: 16px 196px 16px 16px;
            border: 1px solid $secondary-color;
            color: $input-color;
            border-radius: 4px;
        }

        margin-top: 35px;
        margin-left: 65px;
    }

    .two {
        position: relative;



        label {
            position: absolute;
            top: -8px;
            left: 15px;
            background: $neutral-color;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }

        input {
            padding: 16px 178px 16px 16px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            border: 1px solid $secondary-color;
            border-radius: 4px;


        }

        margin-left: 66px;

    }


    .three {
        position: relative;

        label {
            position: absolute;
            color: $primary-color;
            top: -8px;
            left: 15px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: $neutral-color;
        }

        input {
            padding: 16px 178px 16px 16px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            border: 2px solid $primary-color;
            border-radius: 4px;

        }

        margin-left: 66px;

    }


    .four {
        .rtl {
            background: url("/icons/eye.svg")no-repeat right;
            background-position-x: 20rem;
            background-size: 20px;
            right: 10px;




        }

        ::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        input {
            padding: 16px 192px 16px 16px;
            border: 1px solid $secondary-color;
            color: $input-color;
            border-radius: 4px;

        }

        margin-left: 65px;
        margin-top: 35px;
    }

    .five {
        position: relative;

        label {
            position: absolute;
            top: -8px;
            left: 15px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: $neutral-color;

        }

        input {
            padding: 16px 172px 16px 16px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            border: 1px solid $secondary-color;
            border-radius: 4px;

        }

        margin-left: 66px;

        .rtl1 {
            background: url("/icons/eye.svg")no-repeat right;

            background-size: 20px;
            background-position-x: 20rem;

        }
    }


    .six {
        position: relative;

        label {
            position: absolute;
            color: $primary-color;
            top: -8px;
            left: 15px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: $neutral-color;
        }

        input {

            border-color: $primary-color;
            padding: 16px 172px 16px 16px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            border: 2px solid $primary-color;
            color: $input-color;
            border-radius: 4px;

        }

        .rtl2 {
            background: url("/icons/eye.svg")no-repeat right;
            background-size: 20px;
            background-position-x: 20rem;
        }

        margin-left: 66px;

    }


    .seven {
        display: flex;
        flex-direction: row;

        .subdomaintwo {

            color: $focused-color;

            // text-align: right;
            width: 27px;
            height: 10px;
            border: none;
            border-left: 0px;
            margin: 16px 0 0 -60px;
            background: white;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .subdomain {

            border: 1px solid gray;
            border-right: 0px;
            outline: none;
            padding: 16px 196px 16px 16px;
            border: 1px solid $secondary-color;
            color: $input-color;
            border-radius: 4px;
        }


        ::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        margin-left: 65px;

    }



}